.find-noting{
  margin-top: 150px;
  div{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 700;
  }
}
._mestitles{
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
}
.notification{
  .aside{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 280px;
    padding: 0 0 30px;
    overflow: auto;
    text-align: left;
    margin: 86px 0 0;
    ul li{
      line-height: 20px;
      font-size: 16px;
      a{
        height: auto;
        padding: 10px 25px;
        line-height: 30px;
        display: block;
        cursor: pointer;
        img{
          width: 40px;
          height: 40px;
          margin-right: 4px;
          display: inline-block;
          vertical-align: middle;
        }
      }
      a:link{
        text-decoration: none;
        color: #333;
      }
      a:visited{
        text-decoration: none;
        color: #333;
      }
      i{
        font-weight: bold;
        margin-right: 8px;
        color: #409eff;
      }
    }
    ul li:hover{
      background-color: #eee;
    }
    .choosen{
      background-color: #eee;
    }
  }
  .contain{
    margin-left: 33%;
  }
}
._abtn{
  a{
    i{
      color: #333;
      margin-right: 3px;
    }
  }
  a:link{
    text-decoration: none;
    color: #333;
  }
  a:visited{
    text-decoration: none;
    color: #333;
  }
}