.fs16fw5mr8{
  font-size: 16px;
  font-weight: 500;
  margin-right: 8px;
}
._titleText{
  font-size: 30px;
  font-weight: 700;
  word-wrap: break-word;
}
.dfaic{
  display: flex;
  align-items: center;
}